.padBottom10{
    padding-bottom: 10px;
}

.padBottom25{
    padding-bottom: 25px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    font-size: small;
}